* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


.hero {
    width: 100%;
    min-height: 500px;
    padding: 70px 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: linear-gradient(
        180deg,
        #eef3ff 0%,      
        #f7f9ff 45%,     
        #f3edff 100%     
    );

    box-shadow: inset 0 25px 60px rgba(0,0,0,0.06);
}

.left {
    max-width: 560px;
}

.left h1 {
    font-size: 65px;
    font-weight: 700;
    line-height: 1.2;
}

.left h1 span {
    color: #0078ff;
}

.sub {
    margin-top: 20px;
    font-size: 19px;
    color: #333;
}

.row {
    margin-top: 35px;
    display: flex;
    align-items: center;
    gap: 28px;
}

.avatars img {
    width: 51px;
    height: 51px;
    border-radius: 50%;
   
    margin-left: -20px;
}

.count h3 {
    font-size: 20px;
    color: #0078ff;
    font-weight: 700;
}

.btn {
    padding: 14px 32px;
    background: linear-gradient(135deg, #0078ff, #4c23ff);
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: flex-end;  
    align-items: center;
    background: #fafafa;
    
    box-sizing: border-box;
}

:root{
    --card-size: 320px;  
    --accent: #4A90E2;
    --anim-duration: 16s; 
  }

  .page {
    height:100%;
    display:flex;
    justify-content:flex-end;
    align-items:center;        
    padding-right:80px;        
    box-sizing:border-box;
  }

 
  .visual-showcase {
    position:relative;
    width: var(--card-size);
    height: var(--card-size);
    display:block;
    perspective:1000px;
  }

 
.dashed-lines {
    position: absolute;
    width: 320px;
    height: 600px;
    top: -80px;
    left: -50px;
    z-index: -2;
}
  .dashed-lines path {
    animation: dashFlow 8s linear infinite;
} 
 
.carousel-container {
    width: 500px;
    height: 400px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    background: #fff;
    object-fit: cover;
}

.carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    transition: opacity 1s ease-in-out;

    animation: crossfade 16s infinite;
}
.carousel-slide:nth-child(1) { animation-delay: 0s; }
.carousel-slide:nth-child(2) { animation-delay: 4s; }
.carousel-slide:nth-child(3) { animation-delay: 8s; }
.carousel-slide:nth-child(4) { animation-delay: 12s; }


@keyframes crossfade {
    0%   { opacity: 0; }
    10%  { opacity: 1; }
    25%  { opacity: 1; }
    35%  { opacity: 0; }
    100% { opacity: 0; }
}

.carousel-container::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;

    width: calc(100% + 20px);
    height: calc(100% + 20px);

    border-radius: 24px;
}